// .WelcomePage class added dynamically to html element

.WelcomePage {
  background-color: $black-5;

  .Welcome-logo {
    position: relative; // for positioning of motifs
  }

  @media #{$tablet-up} {
    // https://css-tricks.com/perfect-full-page-background-image/
    background-image: url("images/bg-login.jpg"); // won't be loaded by most mobile browsers
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}

.Welcome-lead {
  @include font-size(22px);
  max-width: $h*35; // 840

  @media #{$mobile-only} {
    padding-left: $h/2;
    padding-right: $h/2;
  }

  @media #{$tablet-up} {
    @include font-size(32px);
    color: $white;
  }
}

// Welcome box
.Welcome {
  background: $white;
  border-radius: $border-radius;
  margin-top: $v;
  max-width: $h*35; // 840
  padding: $v*2/3 $h/2; 
  position: relative;
  z-index: $z-nudge;

  @media #{$tablet-up} {
    margin-top: $v*2;
  }
}

.Welcome-logo {
  @media #{$tablet-up} {
    margin-top: $h*1.5;
  }
}

// inline svg (accessible to css)

.Welcome-logo-image {
  @media #{$mobile-only} {
    display: none;

    path {
      fill: $base-colour; // default colour is white
    }
  }
}

.Welcome-loginOptions {
  @media #{$tablet-up} {
    padding-left: $h*1.5;
    padding-right: $h*1.5;
  }
}

.Welcome-button {
  margin-left: auto;
  margin-right: auto;
  max-width: 288px;
}

/**
 * Welcome slider
 * should probably become its own component when design finalised
 */

.Welcome-hero {
  @media #{$mobile-only} {
    margin-top: $v*1.5;
  }

  @media #{$tablet-up} {
    padding-right: $h;
  }
}

// img wrapper
.Welcome-hero-image--wrapper {
  // background-color: $msd-teal;
  background-color: #1cbaa1;
  padding-bottom: 80%;
  position: relative;
  width: 100%;
}

.Welcome-hero-image {
  bottom: 0;
  display: block;
  height: auto;
  // centering: https://css-tricks.com/centering-percentage-widthheight-elements/
  left: 50%;
  max-width: 66.567%;
  position: absolute;
  // scss-lint:disable VendorPrefix
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  // scss-lint:enable VendorPrefix
  transform: translate(-50%, 0);
}

.Welcome-hero-list {
  background-color: rgba(#191C26, 0.65);
  bottom: 0;
  color: $white; 
  position: absolute;
  text-align: left;
  width: 100%;
  padding: $v/2 $h;

  @media #{$mobile-only} {
    padding-left: $h/2;
    padding-right: $h/2;
  }
}
