/**
 * Breadcrumbs
 */

$breadcrumb-height: 55px;

.Breadcrumbs {
  background-color: $black-2;
  border-bottom: 1px solid $black-5;
  height: $breadcrumb-height;
  line-height: $breadcrumb-height;

  @media #{$mobile-only} {
    display: none;
  }
}

// inline svg

.Breadcrumbs-homeLink path {
  fill: $link;
}

.Breadcrumbs-homeIcon {
  position: relative;
  top: 6px;
}

.Breadcrumbs-arrow {
  margin-left: $h*.75;
  margin-right: $h*.75;
  opacity: .3;
}

// h1
.Breadcrumbs-item {
  @extend %franklin-gothic-medium;
  @include font-size(16px);
  display: inline;
}
