/**
 * Magic lists
 * Like footer ButtonList in mobile view, but plain links in desktop
 */

// visible skinny (pre logged in pages)

// visible tablet and down
// effectively the same as .Sidenav--magic
// with much code replicatation - keep in synch!
.MagicList {
  margin-top: $v*2;
}

@media (max-width: $middle-column-width) {
  // ul
  .MagicList {
    border-bottom: 1px solid $black-10;
    // bleed and counter page bottom padding
    margin-bottom: (-$v*2 - 1); // -1 margin bottom to avoid double-margin with .ButtonList below it
    margin-left: (-$h/2);
    margin-right: (-$h/2);
    text-align: left;
  }

  // li
  .MagicList-item {
    border-top: 1px solid $black-10;
  }

  // a
  .MagicList-link {
    background-image: url("images/icon-arrow-right.svg");
    background-position: calc(100% - 12px) 31px;
    background-repeat: no-repeat;
    display: block;
    padding: $v $h*1.5 $v $h;
    
    &:focus,
    &:hover {
      background-color: $black-2;
    }

    &.MagicList-link { // specificity hack
      color: $base-colour;
    }
  }
}
