/*------------------------------------*\
  $FLAG
\*------------------------------------*/

/**
 *  Similar to .media object, but vertically centered thus:
 *  http://csswizardry.com/2013/05/the-flag-object/
 *
 *  +---------+
 *  |         | ~~~~ ~~~~~~~~~~~
 *  |         | ~~~~~~~ ~~~~~ ~~
 *  |         | ~~~~~~~~~~~~
 *  +---------+
 *
<div class="Flag">
  <div class="Flag-body">
    <p>...</p> 
  </div>
  <div class="Flag-image Flag--rev">
    <img src="..." alt="">
  </div>
</div>
 *
 */


.Flag {
  display: table;
  width: 100%;
}

.Flag-image,
.Flag-body {
  display: table-cell;
  vertical-align: middle;

  .Flag--top & {
    vertical-align: top;
  }

  .Flag--bottom & {
    vertical-align: bottom;
  }
}

.Flag-image {
  // padding-right: 10px;
  margin-right: $h*.75;

  > img {
    display: block;
    max-width: none;
  }

  .Flag--rev & {
    margin-left: $h*.75;
    padding-right: 0;
  }
}

.Flag-body {
  width: 100%;
}

/**
 *
 * To horizontally center the Flag use this wrapper
 *
 *  <div class="Flag--hCentered">
 *    <div class="Flag">
 *      ...
 *
 */

.Flag--hCentered {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
