/**
 * Contact details
 */

.ContactDetails {
  margin-top: $v*2;
}

.ContactDetails-heading {
  margin-top: $v;
}

// @media #{$mobile-only} {
@media (max-width: $middle-column-width) {
  // div (wraps the <ul> as we sometimes have other information appearing before the contact details)
  .ContactDetails {
    background-color: $black-2;
    border-top: 1px solid $black-10;
    // bleed and counter page bottom padding
    margin: $v*1.5 (-$h/2) (-$v*2);
    padding-left: $h;
    padding-right: $h;
    text-align: center;
  }

  //li
  .ContactDetails-item {
    border-top: 1px solid $black-10;
    padding-bottom: $v*.75;
    padding-top: $v*.75;

    &:first-child {
      border-top: 0;
      padding-top: $v/4;
    }
  }

  // h3
  .ContactDetails-heading {
    @extend %franklin-gothic-demi;
    margin-bottom: $v/3;
    margin-top: 0;
  }
}
