/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */

/**
 * box-sizing
 * 1. https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*:before,
*:after {
  box-sizing: inherit; // 1
}

html {
  @extend %museo-slab-300;
  background-color: $white;
  box-sizing: border-box; // 1
  color: $base-colour;
  line-height: $base-line-height;
}

b,
strong {
  font-weight: 900;
}

i,
em {
  font-style: italic;
}

h1,
h2,
h3 {
  @extend %museo-slab-500;
  color: $green;
}

a:focus,
a:visited,
a:hover,
a:active {
  color: $link;
  text-decoration: none;
}

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
}

// blockquote,
// figure,
dl,
dd {
  margin: 0;
}

// pre {
//   margin-top: 0;
// }

h1,
h2,
h3,
// h4,
// h5,
// h6,
// ol,
p,
// pre,
ul {
  margin-bottom: 0;
  // fall back to browser default top margins for type elements
  // margin-top: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

// button:focus {
//   // scss-lint:disable DuplicateProperty
//   outline: 1px dotted;
//   outline: 5px auto -webkit-focus-ring-color;
//   // scss-lint:enable DuplicateProperty
// }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// iframe {
//   border: 0;
// }

// ol,
ul {
  list-style: none;
  // margin: 0;
  padding: 0;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

// [tabindex="-1"]:focus {
//   // scss-lint:disable ImportantRule
//   outline: none !important;
//   // scss-lint:enable ImportantRule
// }

hr {
  border-style: solid;
  border-width: 1px 0 0;
  margin-bottom: 0;
  margin-top: 0;
}
