/**
 * Typography
*/
  
@font-face {
  font-family: "museo-slab-500";
  src: url("fonts/museo_slab_500-webfont.woff2") format("woff2"),
    url("fonts/museo_slab_500-webfont.woff") format("woff");
}

// Font stack variable
$museo-slab-500: "museo-slab-500", sans-serif;
$sans-serif: "HelveticaNeue-Light", "HelveticaNeue-Roman", "HelveticaNeue-Medium", "HelveticaNeue", "Helvetica Neue", sans-serif;

// Convenient extend objects for typography
.museo-slab-500 {
  font-family: $museo-slab-500;
  font-style: normal;
  font-weight: normal;
}

%museo-slab-500 {
  @extend .museo-slab-500;
}

.sans-serif {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: normal;
}

%sans-serif {
  @extend .sans-serif;
}

// see base.scss for element's typography

h1 {
  @include font-size(36px);
}

h2 {
  @include font-size(16px, 24px);
}

.lead {
  @include font-size(26px);
}

// hr

.Hr {
  background-color: transparent;
  border-color: $black;
}
