/**
 * ------OR------
 */

$or-height: 35px;

// div
.Or {
  background-color: $black-10; 
  height: 1px;
  margin-bottom: $or-height;
  position: relative;
  text-align: center;
  top: $or-height/2;

  span {
    @extend %franklin-gothic-medium;
    @include font-size(14px, $or-height);
    background-color: $white;
    border: 1px solid $black-10;
    border-radius: 100%;
    display: inline-block;
    height: $or-height;
    position: relative;
    top: -$or-height/2;
    width: $or-height;
  }
}
