/**
 * AppointmentSummaryList
 */

/**
 * Appointments
 */

.AppointmentSummaryList-homeHeader {
  line-height: $v*1.5;// match the calendar header
}

// ul
.AppointmentSummaryList {
  margin-top: 0;
}

// li
.AppointmentSummary {
  // on hyphenation: https://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
  // scss-lint:disable VendorPrefix
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  // scss-lint:enable VendorPrefix
  hyphens: auto;
  word-break: break-word; // Non standard for webkit

  + .AppointmentSummary {
    border-top: 1px solid $black-5;
    margin-top: $v*.75;
    padding-top: $v*.75;

    @media #{$tablet-up} {
      margin-top: $v;
      padding-top: $v;
    }
  }
}

.AppointmentSummary-cal {
  background-color: $msd-light-grey;
  border-radius: $border-radius;
  min-width: $h*3.5;
  overflow: hidden;
}

.AppointmentSummary-day {
  @include font-size(14px);
  background-color: $msd-salmon;
  color: $white;
  display: block;
  padding-bottom: 2px;
  padding-top: 4px;
}

.AppointmentSummary-date {
  @extend %franklin-gothic-demi;
  @include font-size(36px);
  color: $base-colour;
}

.AppointmentSummary-month {
  @extend %franklin-gothic-medium;
  @include font-size(12px);
  color: $base-colour;
  letter-spacing: 1.36px;
  margin-bottom: 6px;
  margin-top: -6px;
  text-transform: uppercase;
}

.AppointmentSummary-details {
  padding-left: $h*.75;
}

.AppointmentSummary-topic {
  @include font-size(20px);
}

.AppointmentSummary-time {
  @extend strong;
  color: $base-colour;
}

.AppointmentSummary-locationName {
  color: $base-colour;
}

.AppointmentSummary-relativeTime {
  @include font-size(14px);
  color: $base-colour;
}
