@charset "UTF-8";

@import "variables";
@import "base/index";
@import "utils/index";
@import "components/index";

/**
 * Full page background image
 */

html {
  @include font-size(17px, 31px);
  background-color: $white;
  color: $white;

  // @media #{$tablet-up} {
    // https://css-tricks.com/perfect-full-page-background-image/
    background-image: url("images/-bg.jpg"); // won't be loaded by most mobile browsers
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  // }
}

.IntroContent {
  // background-color: rgba($blue, 1);
  // height: 100vh;
  padding: $v $h*2;
}

.ScrollingContent {
  padding: $v $h*2;
}

/**
 * Main content container
 * - includes top padding allowance for header
 */

.MainContent {
  @extend %u-contain-content;

  // let's squeeze it up a bit more for mobile users
  @media #{$mobile-only} {
    margin-top: -($v/2);
  }
  // negative margin-bottoms go on elements requiring flush sitting with .Footer, e.g. .MagicList, .ContactDetails
  padding-bottom: $page-bottom-padding;
}


/**
 * Sidebar
 */

.Sidebar {
  padding-right: $h; // this manifests as the margin between the side nav and the main content
  width: $sidebar-width;
}

.Sidebar--narrow {
  width: $sidebar-width-narrow;
}

/**
 * Centered middle column for login process
 */

.MiddleColumn {
  max-width: $h*16;
  text-align: center;

  @media #{$tablet-up} {
    max-width: $middle-column-width;
    // bleed these back out in .Greybox
    padding-left: $h;
    padding-right: $h;
    // behave nicely with the .Motif frangipani
    background-color: $white;
    border-radius: $border-radius*1.5;
    position: relative;
    z-index: $z-nudge;
  }

  > :first-child {
    margin-top: 0;
  }
}
