@charset "UTF-8";

@import "variables";
@import "base/index";
@import "utils/index";
@import "components/index";

/**
 * Full page background image
 */

html {
  @include font-size(16px, 28px);
  background-color: $white;
  color: $black;

  // @media #{$tablet-up} {
    // https://css-tricks.com/perfect-full-page-background-image/
    background-image: url("images/somes-island.jpg"); // won't be loaded by most mobile browsers
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  // }
}

body {

}

// main
.u-containContent {
  margin-left: auto;
  margin-right: auto;
  max-width: 50 * 1rem;
  padding-left: $h;
  padding-right: $h;

  @media #{$tablet-up} {
    padding-left: $h*2;
    padding-right: $h*2;
  }
}

@media #{$tablet-up} {
  .u-containContent--skinny {
    padding-left: $h*6;
    padding-right: $h*6;
  }
}

.IntroContent {
  padding-bottom: $h*3;
  padding-top: $h*3;

  @media #{$tablet-up} {
    padding-bottom: $h*4;
    padding-top: $h*5;
  }
}

.IntroContent-lead {
  @include font-size(32px, 40px);
  text-shadow: 0 0 4px $black;
}

.ScrollingContent {
  padding: $v $h*2;
}

/**
 * Main content container
 * - includes top padding allowance for header
 */

.MainContent {
  @extend %u-contain-content;

  // let's squeeze it up a bit more for mobile users
  @media #{$mobile-only} {
    margin-top: -($v/2);
  }
  // negative margin-bottoms go on elements requiring flush sitting with .Footer, e.g. .MagicList, .ContactDetails
  padding-bottom: $page-bottom-padding;
}


/**
 * Sidebar
 */

.Sidebar {
  padding-right: $h; // this manifests as the margin between the side nav and the main content
  width: $sidebar-width;
}

.Sidebar--narrow {
  width: $sidebar-width-narrow;
}

/**
 * Centered middle column for login process
 */

.MiddleColumn {
  max-width: $h*16;
  text-align: center;

  @media #{$tablet-up} {
    max-width: $middle-column-width;
    // bleed these back out in .Greybox
    padding-left: $h;
    padding-right: $h;
    // behave nicely with the .Motif frangipani
    background-color: $white;
    border-radius: $border-radius*1.5;
    position: relative;
    z-index: $z-nudge;
  }

  > :first-child {
    margin-top: 0;
  }
}
