/**
 * colours
 *
 * Note: IE9 requires full hex colour declarations #cccccc, not #ccc
 * for  css gradients to render correctly)
 */

$black: #000000;
$white: #ffffff;

$green: #c3cf20;
$blue: #376db6;


$greybox:  #f8f8f8;

// Links
$link: $green;

$error: red;

/**
 * Font variables
 * - used largely as base settings in base.scss – a thin layer on top of normalize.css
 */

// $base-background: inherit;
$base-colour: $white;
$base-font-size: 16px !default;
// $base-font: $base-font-size "HelveticaNeue-Thin", sans-serif;
$base-link-color: $link;
$base-link-color-hover: $base-link-color;
$base-line-height: 1.5;
$decorative-border-width: 3px;

// spacing units
$v: $base-line-height*$base-font-size;  // 1.5rem (= 24px)
$h: $v;
$border-radius: 5px;

$max-content-width: 60rem;

// Narrow middle column content, e.g. login/registration process pages
// Setting to 375px which is both the iPhone 6's width resolution
// $middle-column-width: $h*15.625;
// $middle-column-width: 23.4375em;
$middle-column-width: 28.75em; // 460

// Header height
$header-height-sm: 68px; // mobile
// $header-height-lg: 78px; // tablet & desktop
$margin-below-header: $v*2;
$margin-below-header: 0;

// page bottm padding
$page-bottom-padding: $v*2;

// Sidebar
// $sidebar-width: $h * 12;
$sidebar-width: $h * 12.16666666666667; // = 292px... matches width of calendar
$sidebar-width-narrow: $h * 9.666667;

/**
 * z-indexes
 */
$z-modal:   30;
$z-header:    20;
// $z-popup:     10;
$z-nudge:    1;
// $z-negative:   -10;
