/**
 * Calendar
 */

$calendar-slot-margin: 5px;
$calendar-grid-size: 42px;
$calendar-slot-size: $calendar-grid-size - ($calendar-slot-margin * 2);
$calendar-width: $calendar-grid-size * 7 + 2; // +2px for left & right borders
$calendar-border-color: $black-5;


.Calendar {
  width: $calendar-width;

  header {
    @include font-size(14px, $calendar-grid-size);
    background-color: $msd-salmon;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: $white;
    height: $calendar-grid-size;
    // line-height: $calendar-grid-size;
    margin-bottom: $calendar-grid-size;
    margin-top: -$calendar-grid-size; // pull above days-of-week
    text-align: center;
  }
}

// Days of the week do not come with un-calendar
// so we create our own, and push them below the header
// ul
.Calendar-daysOfWeek {
  background-color: $black-5;
  margin-top: 0;
  position: relative;
  top: $calendar-grid-size; // move below calendar header

  li {
    @extend strong;
    @include font-size(11px, $calendar-grid-size);
    float: left;
    height: $calendar-grid-size;
    text-align: center;
    width: $calendar-grid-size;
  }
}

// ol
.un-calendar-month:after {
  clear: both;
  content: "";
  display: table;
}

.un-calendar-month-container {
  float: left;
  padding: 0;
  user-select: none;
  width: $calendar-width;
}

.un-calendar-month {
  // scss-lint:disable PropertySortOrder
  border-bottom: 1px solid $calendar-border-color;
  border-left: 1px solid $calendar-border-color;
  border-right: 1px solid $calendar-border-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  // scss-lint:enable PropertySortOrder
  margin: 0;
  padding: 0;
}

.un-calendar-header {
  line-height: $calendar-grid-size;
  margin-top: -$calendar-grid-size; // pull above days-of-week
  position: relative;

  h1 {
    text-align: center;
  }

  button {
    position: absolute;
    top: 0;
  }
}

// button

.un-calendar-prev {
  left: 0;
}

.un-calendar-next {
  right: 0;
}

.un-calendar-prev,
.un-calendar-next {
  color: $white;
  padding-left: $h*.75;
  padding-right: $h*.75;

  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    display: none;
  }
}

.un-calendar-today {
  // right: 30px;
  visibility: hidden; // screen readers ignore
}

.un-calendar-slot {
  // @include font-size(14px, $calendar-grid-size - $calendar-slot-margin*2); // 34px
  @include font-size(14px, 35px); // why not 34px, right? chrome's calc rounding puts it a pixel out
  border-radius: $calendar-slot-size / 2;
  box-sizing: border-box;
  float: left;
  height: $calendar-slot-size;
  list-style: none;
  margin: $calendar-slot-margin;
  padding: 0;
  text-align: center;
  width: $calendar-slot-size;

  &.is-today {
    @extend b;
    background-color: $black-5;
  }

  &.is-selected {
    background-color: $msd-salmon;
    color: $white;
  }

  &.is-disabled {
    color: $black-50;
    cursor: default;
  }
}

.un-calendar-day {
  cursor: default;
}

.is-disabled {
  color: $black-20;
}

.is-selected {
  cursor: pointer;
}

.un-calendar-empty {
  // background-color: $black-5;
  cursor: default;
}
