.Section {
  background-color: $white;// default
  padding-bottom: $v*2;
  padding-top: $v*2;
}

.Section:nth-child(odd) {
  background-color: $greybox;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}
